@import '~bootstrap/scss/bootstrap';

header {
  width: 100%;
  background-color: #F0E68C;
}

.logo {
  width: 150px;
  height: 60px;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}

.main {
  color: #333333;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #F0E68C;
  text-align: center;
  line-height: 60px;
}

.footer-text {
  color: #333333;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  color: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}