<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "bg-light text-center px-4 my-4 ">会員一覧</h4>
    </div>

    <table class ="table border-bottom ">
      <thead class = "table-active">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
                <%= user.name %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted == false %>
                <P class = "font-weight-bold text-success">有効</P>
              <% else %>
                <P class = "font-weight-bold text-secondary">退会</P>
              <% end %>
              </td>
              <td>
                <%= link_to edit_admin_user_path(user.id) do %>
                 <button type="button" class="btn btn-success text-md-block">編集する</button>
              <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
