<div class = "container vh-100">
  <div class = "row-md-11 text-md-block text-center m-4">
    <h5 class ="font-weight-bold">本当に退会しますか？</h5>
  </div>

  <div class = "row-md-11 text-md-block text-center">
    <p>退会すると、会員登録情報や<br/>
      これまでの日記が閲覧できなくなります。<br/>
      退会する場合は、「退会する」をクリックしてください。
    </p>
  </div>

  <div class = "row mx-auto m-4">
     <div class = "col-md-3"></div>
    <div>
    <%= link_to public_users_information_edit_path(@user), class: 'btn btn-warning rounded-pill px-5' do %>
      退会しない
    <% end %>
    </div>
    <div class = "col-md-2"></div>
    <div>
    <%= link_to public_users_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？" do %>
        <button type="button" class="btn btn-secondary rounded-pill px-5">退会する</button>
      <% end %>
      </div>
  </div>
</div>